.first-create-bucketlist {
  display: none;
}

.view-button-bucketlist {
  display: none;
}

.initial-add-button-bucketlist {
  display: none;
}

.update-tracker-button-bucketlist {
  display: none;
}
