.first-create {
  display: none;
}

.view-button {
  display: none;
}

.initial-add-button {
  display: none;
}

.update-tracker-button {
  display: none;
}

.list {
  font-size: 18px;
}

// img {
//   filter: invert(20%);
//   height: 10%;
//   width: 10%;
// }

// .update-country {
//   display: none;
// }
